<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"restance/gutenverse-page-hero"} /-->

<!-- wp:gutenverse/section {"elementId":"guten-0UWIA4","margin":{"Desktop":[],"Tablet":[],"Mobile":[]},"padding":{"Desktop":{"unit":"px","dimension":{"top":"100","bottom":"100"}},"Tablet":{"unit":"px","dimension":{"right":"10","left":"10","top":"80","bottom":"60"}},"Mobile":{"unit":"px","dimension":{"top":"40","bottom":"40"}}}} -->
<div class="section-wrapper" data-id="0UWIA4"><script>var top0UWIA4 = {"Desktop":{"point":"0","unit":"px"}};var bottom0UWIA4 = {"Desktop":{"point":"0","unit":"px"}};</script><section class="wp-block-gutenverse-section guten-element guten-section guten-0UWIA4 layout-boxed align-stretch"><div class="guten-background-overlay"></div><div class="guten-shape-divider guten-shape-divider-top"></div><div class="guten-shape-divider guten-shape-divider-bottom"></div><div class="guten-container guten-column-gap-default"><!-- wp:gutenverse/column {"width":{"Desktop":100},"elementId":"guten-h0Znaa"} -->
<div class="wp-block-gutenverse-column guten-element guten-column guten-h0Znaa"><div class="guten-background-overlay"></div><div class="sticky-wrapper" data-id="h0Znaa"><script>var toph0Znaa = {"Desktop":{"point":"0","unit":"px"}};var bottomh0Znaa = {"Desktop":{"point":"0","unit":"px"}};</script><div class="guten-column-wrapper"><!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:post-comments /--></div></div></div>
<!-- /wp:gutenverse/column --></div></section></div>
<!-- /wp:gutenverse/section -->

<!-- wp:template-part {"slug":"footer"} /-->